### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
snTotal=purchase_data["SN"].nunique()
Total_Players_Summary_df = pd.DataFrame({"Total Players": [snTotal]})
Total_Players_Summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
total_items=purchase_data["Item ID"].nunique()
no_of_purchases=purchase_data['Purchase ID'].count()
tot_revenue=purchase_data["Price"].sum()
avg_price=tot_revenue/no_of_purchases

summary_df = pd.DataFrame({"Number of Unique Items": [total_items], "Average Price":[avg_price],
                           "Number of Purchases":[no_of_purchases], "Total Revenue":"$"+str(tot_revenue)
                          })
summary_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     183           3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_purchase_cnt=purchase_data.groupby('Gender')['Purchase ID'].nunique()
gender_counts=purchase_data.groupby('Gender')['SN'].nunique()

gender_summary_Table=pd.DataFrame({"Total Count":gender_counts, "Percentage of players":(gender_counts*100)/snTotal})

gender_summary_Table.round(2)

                       Total Count  Percentage of players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_df=purchase_data.groupby('Gender')
gender_price=gender_df["Price"].sum()

gender_summary_Table=pd.DataFrame({"Purchase Count":gender_purchase_cnt,"Average Purchase Price":gender_price/gender_purchase_cnt,
                                  "Total Purchase Value":gender_price,
                                   "Avg Total Purchase per Person":gender_price/gender_counts})
gender_summary_Table=gender_summary_Table.round(2)

In [6]:
#Adding $ sign to all the Average Purchase Price, Total Purchase Value and Avg Total Purchase per Person
gender_summary_Table['Average Purchase Price'] = '$' + (gender_summary_Table['Average Purchase Price'].astype(str))
gender_summary_Table['Total Purchase Value'] = '$' + (gender_summary_Table['Total Purchase Value'].astype(str))
gender_summary_Table['Avg Total Purchase per Person'] = '$' + (gender_summary_Table['Avg Total Purchase per Person'].astype(str))

gender_summary_Table=gender_summary_Table.round(2)
gender_summary_Table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:

new_purchase_df = purchase_data.copy()
bins = [0, 9, 14, 19, 24, 29,34,39,99]

# Create the names for the four bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#df["Age Summary"] = pd.cut(purchase_data["Test Score"], bins, labels=group_names)
new_purchase_df["Age Summary"]=pd.cut(purchase_data["Age"], bins, labels=group_names)
new_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [8]:
age_count = new_purchase_df.groupby("Age Summary")['SN'].nunique()
age_summary_Table=pd.DataFrame({"Total Count":age_count, "Percentage of players":(age_count*100)/snTotal})
age_summary_Table.round(2)

             Total Count  Percentage of players
Age Summary
<10                   17                   2.95
10-14                 22                   3.82
15-19                107                  18.58
20-24                258                  44.79
25-29                 77                  13.37
30-34                 52                   9.03
35-39                 31                   5.38
40+                   12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
age_purchase_cnt=new_purchase_df.groupby('Age Summary')['Purchase ID'].nunique()
age_df=new_purchase_df.groupby('Age Summary')
age_price=age_df["Price"].sum()

age_purchase_summary=pd.DataFrame({"Purchase Count":age_purchase_cnt,"Average Purchase Price":age_price/age_purchase_cnt,
                                  "Total Purchase Value":age_price,
                                   "Avg Total Purchase per Person":age_price/age_count})
age_purchase_summary=age_purchase_summary.round(2)
#age_purchase_summary

In [10]:
# Display values with the $ sign
age_purchase_summary['Average Purchase Price'] = '$' + (age_purchase_summary['Average Purchase Price'].astype(str))
age_purchase_summary['Total Purchase Value'] = '$' + (age_purchase_summary['Total Purchase Value'].astype(str))
age_purchase_summary['Avg Total Purchase per Person'] = '$' + (age_purchase_summary['Avg Total Purchase per Person'].astype(str))
age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
sn_counts=purchase_data.groupby('SN').nunique()
sn_purchase_cnt=purchase_data.groupby('SN')['Purchase ID'].nunique()
sn_df=purchase_data.groupby('SN')
sn_price=sn_df["Price"].sum()

sn_summary_Table=pd.DataFrame({"Purchase Count":sn_purchase_cnt,"Average Purchase Price":sn_price/sn_purchase_cnt,
                                  "Total Purchase Value":sn_price})

In [12]:
# Sorting the data in the descending order of Total Purchase Value column
#Then rounding it upto 2 decimal places

sn_summary_Table=sn_summary_Table.sort_values(by=["Total Purchase Value"], ascending=False)
sn_summary_Table=sn_summary_Table.round(2)
#sn_summary_Table.head()

In [13]:
#Adding a $ sign to all the values
sn_summary_Table['Average Purchase Price'] = '$' + (sn_summary_Table['Average Purchase Price'].astype(str))
sn_summary_Table['Total Purchase Value'] = '$' + (sn_summary_Table['Total Purchase Value'].astype(str))
sn_summary_Table

               Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                   5                  $3.79               $18.96
Idastidru52                 4                  $3.86               $15.45
Chamjask73                  3                  $4.61               $13.83
Iral74                      4                   $3.4               $13.62
Iskadarya95                 3                  $4.37                $13.1
Ilarin91                    3                  $4.23                $12.7
Ialallo29                   3                  $3.95               $11.84
Tyidaim51                   3                  $3.94               $11.83
Lassilsala30                3                  $3.84               $11.51
Chadolyla44                 3                  $3.82               $11.46
Iri67                       3                  $3.79               $11.37
Inguron55                   3                   $3.7               $11.11
Siallylis44                 3                  $3.46               $10.37
Saistyphos30                3                  $3.44               $10.33
Phyali88                    3                  $3.43                $10.3
Strithenu87                 3                  $3.39               $10.18
Lisim78                     3                  $3.34               $10.02
Haillyrgue51                3                  $3.17                 $9.5
Phistym51                   2                  $4.75                 $9.5
Lamil79                     2                  $4.64                $9.29
Aina42                      3                  $3.07                $9.22
Saesrideu94                 2                  $4.59                $9.18
Arin32                      2                  $4.54                $9.09
Rarallo90                   3                  $3.02                $9.05
Baelollodeu94               2                  $4.51                $9.03
Aelin32                     3                  $2.99                $8.98
Lisopela58                  3                  $2.95                $8.86
Saedaiphos46                3                  $2.94                $8.83
Reunasu60                   2                  $4.41                $8.82
Chanastnya43                3                  $2.94                $8.82
...                       ...                    ...                  ...
Lirtim36                    1                  $1.33                $1.33
Shidai42                    1                  $1.33                $1.33
Philodil43                  1                  $1.29                $1.29
Eyista89                    1                  $1.29                $1.29
Mindilsa60                  1                  $1.28                $1.28
Tyarithn67                  1                  $1.14                $1.14
Aisur51                     1                  $1.14                $1.14
Ilista82                    1                  $1.14                $1.14
Jiskimsda56                 1                  $1.14                $1.14
Aillyriadru65               1                   $1.1                 $1.1
Eryon48                     1                   $1.1                 $1.1
Iduelis31                   1                   $1.1                 $1.1
Yasur85                     1                   $1.1                 $1.1
Undjask33                   1                   $1.1                 $1.1
Lirtassa52                  1                  $1.09                $1.09
Aelidru27                   1                  $1.09                $1.09
Yalaeria91                  1                  $1.06                $1.06
Aesurstilis64               1                  $1.03                $1.03
Saida58                     1                  $1.03                $1.03
Euthe35                     1                  $1.03                $1.03
Hala31                      1                  $1.02                $1.02
Qilalista41                 1                  $1.02                $1.02
Frichjaskan98               1                  $1.02                $1.02
Isurria36                   1                  $1.02                $1.02
Eudanu84                    1                  $1.02                $1.02
Ililsasya43                 1                  $1.02                $1.02
Irilis75                    1                  $1.02                $1.02
Aidai61                     1                  $1.01                $1.01
Chanirra79                  1                  $1.01                $1.01
Alo38                       1                   $1.0                 $1.0

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# making a copy of the data frame for the popular items question
popular_items_df = purchase_data[['Item ID', 'Item Name', 'Price','Purchase ID']].copy()

In [15]:
itemid_counts=popular_items_df.groupby(['Item ID','Item Name', 'Price'], as_index=False).count()
itemid_purchase_cnt=popular_items_df.groupby('Item ID')['Purchase ID'].nunique()

item_summary_Table=pd.DataFrame({"Item ID":itemid_counts['Item ID'].values,"Item Name":itemid_counts['Item Name'].values,
                                 "Purchase Count":itemid_purchase_cnt.values,"Item Price":itemid_counts['Price'].values,
                                  "Total Purchase Value":itemid_purchase_cnt*itemid_counts['Price'].values})

item_summary_Table=item_summary_Table.round(2)

#Creating a copy of this dataframe for the next question
#most_profitable_Table = item_summary_Table.copy()

In [16]:
#Adding $ sign to the price and Total Purchase values

sortedPurchase_cnt=item_summary_Table.sort_values("Purchase Count", ascending=False)
sortedPurchase_cnt 
most_profitable_Table = sortedPurchase_cnt.copy()
sortedPurchase_cnt['Item Price'] = '$' + (sortedPurchase_cnt['Item Price'].astype(str))
sortedPurchase_cnt['Total Purchase Value'] = '$' + (sortedPurchase_cnt['Total Purchase Value'].astype(str))
sortedPurchase_cnt

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,,
178,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,145,Fiery Glass Crusader,9,$4.58,$41.22
108,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,82,Nirvana,9,$4.9,$44.1
19,19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,103,Singed Scalpel,8,$4.35,$34.8
75,75,Brutality Ivory Warmace,8,$2.42,$19.36
72,72,Winter's Bite,8,$3.77,$30.16
60,60,Wolf,8,$3.54,$28.32
59,59,"Lightning, Etcher of the King",8,$4.23,$33.84
37,37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
34,34,Retribution Axe,8,$2.22,$17.76
92,92,Final Critic,8,$4.88,$39.04
53,53,Vengeance Cleaver,7,$2.05,$14.35
110,110,Suspension,7,$1.44,$10.08
7,7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
71,71,Demise,7,$1.61,$11.27
117,117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
159,159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
85,85,Malificent Bag,7,$1.75,$12.25
164,164,Exiled Doomblade,7,$1.63,$11.41
141,141,Persuasion,7,$3.19,$22.33
78,78,"Glimmer, Ender of the Moon",7,$4.4,$30.8
102,102,Avenger,6,$3.44,$20.64
129,129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
93,93,Apocalyptic Battlescythe,6,$1.97,$11.82
54,54,Eternal Cleaver,6,$2.5,$15.0
3,3,Phantomlight,6,$2.49,$14.94
2,2,Verdict,6,$2.48,$14.88
40,40,Second Chance,6,$2.52,$15.12
...,...,...,...,...,...
81,81,Dreamkiss,2,$3.61,$7.22
6,6,Rusty Skull,2,$3.7,$7.4
18,18,"Torchlight, Bond of Storms",2,$4.65,$9.3
26,26,Unholy Wand,2,$1.12,$2.24
28,28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
30,30,Stormcaller,2,$2.21,$4.42
158,158,"Darkheart, Butcher of the Champion",2,$2.45,$4.9
69,69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
132,132,Persuasion,2,$3.33,$6.66
63,63,Stormfury Mace,2,$4.99,$9.98
56,56,Foul Titanium Battle Axe,2,$2.92,$5.84
127,127,"Heartseeker, Reaver of Souls",2,$3.92,$7.84
48,48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
125,125,Whistling Mithril Warblade,2,$1.0,$2.0
43,43,Foul Edge,2,$3.54,$7.08
115,115,Spectral Diamond Doomblade,2,$2.04,$4.08
33,33,Curved Axe,2,$1.16,$2.32
31,31,Trickster,2,$1.55,$3.1
118,118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
47,47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
42,42,The Decapitator,1,$1.75,$1.75
27,27,"Riddle, Tribute of Ended Dreams",1,$3.3,$3.3
126,126,Exiled Mithril Longsword,1,$2.0,$2.0
51,51,Endbringer,1,$4.66,$4.66
90,90,Betrayer,1,$2.94,$2.94
104,104,Gladiator's Glaive,1,$1.93,$1.93
23,23,Crucifer,1,$1.99,$1.99
180,180,Stormcaller,1,$3.36,$3.36
91,91,Celeste,1,$4.17,$4.17
134,134,Undead Crusader,1,$4.5,$4.5

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:

sortTotalPurchaseValue=item_summary_Table.sort_values("Total Purchase Value", ascending=False)
sortTotalPurchaseValue['Item Price'] = '$' + (sortTotalPurchaseValue['Item Price'].astype(str))
sortTotalPurchaseValue['Total Purchase Value'] = '$' + (sortTotalPurchaseValue['Total Purchase Value'].astype(str))
sortTotalPurchaseValue

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,,
178,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,82,Nirvana,9,$4.9,$44.1
145,145,Fiery Glass Crusader,9,$4.58,$41.22
92,92,Final Critic,8,$4.88,$39.04
103,103,Singed Scalpel,8,$4.35,$34.8
59,59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,78,"Glimmer, Ender of the Moon",7,$4.4,$30.8
72,72,Winter's Bite,8,$3.77,$30.16
60,60,Wolf,8,$3.54,$28.32
179,179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,160,Azurewrath,6,$4.4,$26.4
25,25,Hero Cane,6,$4.35,$26.1
37,37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,139,"Mercy, Katana of Dismay",5,$4.94,$24.7
128,128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.7
141,141,Persuasion,7,$3.19,$22.33
87,87,"Deluge, Edge of the West",5,$4.43,$22.15
159,159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
136,136,Ghastly Adamantite Protector,6,$3.58,$21.48
65,65,Conqueror Adamantite Mace,5,$4.24,$21.2
101,101,Final Critic,5,$4.19,$20.95
102,102,Avenger,6,$3.44,$20.64
133,133,Faith's Scimitar,5,$4.09,$20.45
39,39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.7
111,111,Misery's End,4,$4.89,$19.56
165,165,Bone Crushing Silver Skewer,4,$4.86,$19.44
75,75,Brutality Ivory Warmace,8,$2.42,$19.36
52,52,Hatred,4,$4.84,$19.36
...,...,...,...,...,...
124,124,Venom Claymore,4,$1.29,$5.16
0,0,Splinter,4,$1.28,$5.12
155,155,War-Forged Gold Deflector,5,$1.01,$5.05
48,48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
158,158,"Darkheart, Butcher of the Champion",2,$2.45,$4.9
51,51,Endbringer,1,$4.66,$4.66
134,134,Undead Crusader,1,$4.5,$4.5
30,30,Stormcaller,2,$2.21,$4.42
135,135,Warped Diamond Crusader,3,$1.4,$4.2
91,91,Celeste,1,$4.17,$4.17
177,177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
70,70,Hope's End,4,$1.03,$4.12
115,115,Spectral Diamond Doomblade,2,$2.04,$4.08
69,69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
47,47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
180,180,Stormcaller,1,$3.36,$3.36
27,27,"Riddle, Tribute of Ended Dreams",1,$3.3,$3.3
183,183,Dragon's Greatsword,3,$1.09,$3.27
31,31,Trickster,2,$1.55,$3.1
168,168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
90,90,Betrayer,1,$2.94,$2.94
33,33,Curved Axe,2,$1.16,$2.32
26,26,Unholy Wand,2,$1.12,$2.24
118,118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
28,28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,125,Whistling Mithril Warblade,2,$1.0,$2.0
126,126,Exiled Mithril Longsword,1,$2.0,$2.0
23,23,Crucifer,1,$1.99,$1.99
104,104,Gladiator's Glaive,1,$1.93,$1.93
42,42,The Decapitator,1,$1.75,$1.75