### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [20]:
snTotal=purchase_data["SN"].nunique()
Total_Players_Summary_df = pd.DataFrame({"Total Players": [snTotal]})
Total_Players_Summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
total_items=purchase_data["Item ID"].nunique()
no_of_purchases=purchase_data['Purchase ID'].count()
tot_revenue=purchase_data["Price"].sum()
avg_price=tot_revenue/no_of_purchases

summary_df = pd.DataFrame({"Number of Unique Items": [total_items], "Average Price":[avg_price],
                           "Number of Purchases":[no_of_purchases], "Total Revenue":"$"+str(tot_revenue)
                          })
summary_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     183           3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
gender_purchase_cnt=purchase_data.groupby('Gender')['Purchase ID'].nunique()
gender_counts=purchase_data.groupby('Gender')['SN'].nunique()

gender_summary_Table=pd.DataFrame({"Total Count":gender_counts, "Percentage of players":(gender_counts*100)/snTotal})

gender_summary_Table.round(2)

                       Total Count  Percentage of players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
gender_df=purchase_data.groupby('Gender')
gender_price=gender_df["Price"].sum()

gender_summary_Table=pd.DataFrame({"Purchase Count":gender_purchase_cnt,"Average Purchase Price":gender_price/gender_purchase_cnt,
                                  "Total Purchase Value":gender_price,
                                   "Avg Total Purchase per Person":gender_price/gender_counts})
gender_summary_Table=gender_summary_Table.round(2)
#gender_summary_Table

In [24]:
#Adding $ sign to all the Average Purchase Price, Total Purchase Value and Avg Total Purchase per Person
gender_summary_Table['Average Purchase Price'] = '$' + (gender_summary_Table['Average Purchase Price'].astype(str))
gender_summary_Table['Total Purchase Value'] = '$' + (gender_summary_Table['Total Purchase Value'].astype(str))
gender_summary_Table['Avg Total Purchase per Person'] = '$' + (gender_summary_Table['Avg Total Purchase per Person'].astype(str))

gender_summary_Table=gender_summary_Table.round(2)
gender_summary_Table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:

new_purchase_df = purchase_data.copy()
bins = [0, 9, 14, 19, 24, 29,34,39,99]

# Create the names for the four bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#df["Age Summary"] = pd.cut(purchase_data["Test Score"], bins, labels=group_names)
new_purchase_df["Age Summary"]=pd.cut(purchase_data["Age"], bins, labels=group_names)
new_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [26]:
age_count = new_purchase_df.groupby("Age Summary")['SN'].nunique()
age_summary_Table=pd.DataFrame({"Total Count":age_count, "Percentage of players":(age_count*100)/snTotal})
age_summary_Table.round(2)

             Total Count  Percentage of players
Age Summary
<10                   17                   2.95
10-14                 22                   3.82
15-19                107                  18.58
20-24                258                  44.79
25-29                 77                  13.37
30-34                 52                   9.03
35-39                 31                   5.38
40+                   12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
age_purchase_cnt=new_purchase_df.groupby('Age Summary')['Purchase ID'].nunique()
age_df=new_purchase_df.groupby('Age Summary')
age_price=age_df["Price"].sum()

age_purchase_summary=pd.DataFrame({"Purchase Count":age_purchase_cnt,"Average Purchase Price":age_price/age_purchase_cnt,
                                  "Total Purchase Value":age_price,
                                   "Avg Total Purchase per Person":age_price/age_count})
age_purchase_summary=age_purchase_summary.round(2)
#age_purchase_summary

In [28]:
# Display values with the $ sign
age_purchase_summary['Average Purchase Price'] = '$' + (age_purchase_summary['Average Purchase Price'].astype(str))
age_purchase_summary['Total Purchase Value'] = '$' + (age_purchase_summary['Total Purchase Value'].astype(str))
age_purchase_summary['Avg Total Purchase per Person'] = '$' + (age_purchase_summary['Avg Total Purchase per Person'].astype(str))
age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
sn_counts=purchase_data.groupby('SN').nunique()
sn_purchase_cnt=purchase_data.groupby('SN')['Purchase ID'].nunique()
sn_df=purchase_data.groupby('SN')
sn_price=sn_df["Price"].sum()

sn_summary_Table=pd.DataFrame({"Purchase Count":sn_purchase_cnt,"Average Purchase Price":sn_price/sn_purchase_cnt,
                                  "Total Purchase Value":sn_price})

In [30]:
# Sorting the data in the descending order of Total Purchase Value column
#Then rounding it upto 2 decimal places

sn_summary_Table=sn_summary_Table.sort_values(by=["Total Purchase Value"], ascending=False)
sn_summary_Table=sn_summary_Table.round(2)
#sn_summary_Table.head()

In [31]:
#Adding a $ sign to all the values
sn_summary_Table['Average Purchase Price'] = '$' + (sn_summary_Table['Average Purchase Price'].astype(str))
sn_summary_Table['Total Purchase Value'] = '$' + (sn_summary_Table['Total Purchase Value'].astype(str))
sn_summary_Table

               Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                   5                  $3.79               $18.96
Idastidru52                 4                  $3.86               $15.45
Chamjask73                  3                  $4.61               $13.83
Iral74                      4                   $3.4               $13.62
Iskadarya95                 3                  $4.37                $13.1
Ilarin91                    3                  $4.23                $12.7
Ialallo29                   3                  $3.95               $11.84
Tyidaim51                   3                  $3.94               $11.83
Lassilsala30                3                  $3.84               $11.51
Chadolyla44                 3                  $3.82               $11.46
Iri67                       3                  $3.79               $11.37
Inguron55                   3                   $3.7               $11.11
Siallylis44                 3                  $3.46               $10.37
Saistyphos30                3                  $3.44               $10.33
Phyali88                    3                  $3.43                $10.3
Strithenu87                 3                  $3.39               $10.18
Lisim78                     3                  $3.34               $10.02
Haillyrgue51                3                  $3.17                 $9.5
Phistym51                   2                  $4.75                 $9.5
Lamil79                     2                  $4.64                $9.29
Aina42                      3                  $3.07                $9.22
Saesrideu94                 2                  $4.59                $9.18
Arin32                      2                  $4.54                $9.09
Rarallo90                   3                  $3.02                $9.05
Baelollodeu94               2                  $4.51                $9.03
Aelin32                     3                  $2.99                $8.98
Lisopela58                  3                  $2.95                $8.86
Saedaiphos46                3                  $2.94                $8.83
Reunasu60                   2                  $4.41                $8.82
Chanastnya43                3                  $2.94                $8.82
...                       ...                    ...                  ...
Lirtim36                    1                  $1.33                $1.33
Shidai42                    1                  $1.33                $1.33
Philodil43                  1                  $1.29                $1.29
Eyista89                    1                  $1.29                $1.29
Mindilsa60                  1                  $1.28                $1.28
Tyarithn67                  1                  $1.14                $1.14
Aisur51                     1                  $1.14                $1.14
Ilista82                    1                  $1.14                $1.14
Jiskimsda56                 1                  $1.14                $1.14
Aillyriadru65               1                   $1.1                 $1.1
Eryon48                     1                   $1.1                 $1.1
Iduelis31                   1                   $1.1                 $1.1
Yasur85                     1                   $1.1                 $1.1
Undjask33                   1                   $1.1                 $1.1
Lirtassa52                  1                  $1.09                $1.09
Aelidru27                   1                  $1.09                $1.09
Yalaeria91                  1                  $1.06                $1.06
Aesurstilis64               1                  $1.03                $1.03
Saida58                     1                  $1.03                $1.03
Euthe35                     1                  $1.03                $1.03
Hala31                      1                  $1.02                $1.02
Qilalista41                 1                  $1.02                $1.02
Frichjaskan98               1                  $1.02                $1.02
Isurria36                   1                  $1.02                $1.02
Eudanu84                    1                  $1.02                $1.02
Ililsasya43                 1                  $1.02                $1.02
Irilis75                    1                  $1.02                $1.02
Aidai61                     1                  $1.01                $1.01
Chanirra79                  1                  $1.01                $1.01
Alo38                       1                   $1.0                 $1.0

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
# making a copy of the data frame for the popular items question
popular_items_df = purchase_data[['Item ID', 'Item Name', 'Price','Purchase ID']].copy()
#popular_items_df.head()

In [33]:
itemid_counts=popular_items_df.groupby(['Item ID','Item Name', 'Price'], as_index=False).count()
itemid_purchase_cnt=popular_items_df.groupby('Item ID')['Purchase ID'].nunique()

item_summary_Table=pd.DataFrame({"Item ID":itemid_counts['Item ID'],"Item Name":itemid_counts['Item Name'],"Purchase Count":itemid_purchase_cnt,"Item Price":itemid_counts['Price'],
                                  "Total Purchase Value":itemid_purchase_cnt*itemid_counts['Price']})
item_summary_Table #=item_summary_Table.round(2)

#Creating a copy of this dataframe for the next question
most_profitable_Table = item_summary_Table.copy()
#item_summary_Table.head()

In [34]:
#Adding $ sign to the price and Total Purchase values
item_summary_Table['Item Price'] = '$' + (item_summary_Table['Item Price'].astype(str))
item_summary_Table['Total Purchase Value'] = '$' + (item_summary_Table['Total Purchase Value'].astype(str))
item_summary_Table

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,0.0,Splinter,4.0,$1.28,$5.12
1,1.0,Crucifer,3.0,$3.26,$9.78
2,2.0,Verdict,6.0,$2.48,$14.879999999999999
3,3.0,Phantomlight,6.0,$2.49,$14.940000000000001
4,4.0,Bloodlord's Fetish,5.0,$1.7,$8.5
5,5.0,Putrid Fan,4.0,$4.08,$16.32
6,6.0,Rusty Skull,2.0,$3.7,$7.4
7,7.0,"Thorn, Satchel of Dark Souls",7.0,$1.33,$9.31
8,8.0,"Purgatory, Gem of Regret",3.0,$3.93,$11.790000000000001
9,9.0,"Thorn, Conqueror of the Corrupted",4.0,$2.73,$10.92
10,10.0,Sleepwalker,4.0,$1.79,$7.16
11,11.0,Brimstone,5.0,$3.65,$18.25
12,12.0,Dawne,6.0,$1.02,$6.12
13,13.0,Serenity,4.0,$1.41,$5.64
14,14.0,Possessed Core,2.0,$2.61,$5.22
15,15.0,Soul Infused Crystal,5.0,$2.96,$14.8
16,16.0,Restored Bauble,4.0,$3.55,$14.2
17,17.0,"Lazarus, Terror of the Earth",4.0,$1.7,$6.8
18,18.0,"Torchlight, Bond of Storms",2.0,$4.65,$9.3
19,19.0,"Pursuit, Cudgel of Necromancy",8.0,$1.02,$8.16
20,20.0,Netherbane,5.0,$3.27,$16.35
21,21.0,Souleater,5.0,$1.1,$5.5
22,22.0,Amnesia,6.0,$2.18,$13.080000000000002
23,23.0,Crucifer,1.0,$1.99,$1.99
24,24.0,Warped Fetish,5.0,$3.81,$19.05
25,25.0,Hero Cane,6.0,$4.35,$26.099999999999998
26,26.0,Unholy Wand,2.0,$1.12,$2.24
27,27.0,"Riddle, Tribute of Ended Dreams",1.0,$3.3,$3.3
28,28.0,"Flux, Destroyer of Due Diligence",2.0,$1.06,$2.12
29,29.0,"Chaos, Ender of the End",5.0,$1.98,$9.9
...,...,...,...,...,...
154,155.0,War-Forged Gold Deflector,4.0,$1.01,$4.04
155,156.0,Soul-Forged Steel Shortsword,5.0,$1.77,$8.85
156,157.0,"Spada, Etcher of Hatred",5.0,$4.8,$24.0
157,158.0,"Darkheart, Butcher of the Champion",4.0,$2.45,$9.8
158,159.0,"Oathbreaker, Spellblade of Trials",2.0,$3.08,$6.16
159,160.0,Azurewrath,7.0,$4.4,$30.800000000000004
160,161.0,Devine,6.0,$1.76,$10.56
161,162.0,Abyssal Shard,5.0,$2.67,$13.35
162,163.0,Thunderfury Scimitar,5.0,$3.45,$17.25
163,164.0,Exiled Doomblade,5.0,$1.63,$8.149999999999999
164,165.0,Bone Crushing Silver Skewer,7.0,$4.86,$34.02
165,166.0,Thirsty Iron Reaver,4.0,$3.07,$12.28
166,167.0,"Malice, Legacy of the Queen",3.0,$3.61,$10.83
167,168.0,"Sun Strike, Jaws of Twisted Visions",4.0,$1.48,$5.92
168,169.0,"Interrogator, Blood Blade of the Queen",2.0,$2.18,$4.36
169,170.0,Shadowsteel,4.0,$3.97,$15.88
170,171.0,Scalpel,4.0,$1.79,$7.16
171,172.0,Blade of the Grave,3.0,$3.14,$9.42
172,173.0,Stormfury Longsword,4.0,$4.93,$19.72
173,174.0,Primitive Blade,2.0,$3.47,$6.94
174,175.0,Woeful Adamantite Claymore,4.0,$4.48,$17.92
175,176.0,Relentless Iron Skewer,3.0,$2.84,$8.52
176,177.0,"Winterthorn, Defender of Shifting Worlds",2.0,$2.08,$4.16
177,178.0,"Oathbreaker, Last Hope of the Breaking Storm",2.0,$4.23,$8.46
178,179.0,"Wolf, Promise of the Moonwalker",12.0,$4.48,$53.760000000000005
179,180.0,Stormcaller,6.0,$3.36,$20.16
180,181.0,Reaper's Toll,1.0,$1.66,$1.66
181,182.0,Toothpick,5.0,$4.03,$20.150000000000002
182,183.0,Dragon's Greatsword,3.0,$1.09,$3.2700000000000005
183,NaN,NaN,3.0,$nan,$nan

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:
most_profitable_Table.sort_values(by=["Total Purchase Value"], ascending=False)
most_profitable_Table

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,0.0,Splinter,4.0,1.28,5.12
1,1.0,Crucifer,3.0,3.26,9.78
2,2.0,Verdict,6.0,2.48,14.88
3,3.0,Phantomlight,6.0,2.49,14.94
4,4.0,Bloodlord's Fetish,5.0,1.70,8.50
5,5.0,Putrid Fan,4.0,4.08,16.32
6,6.0,Rusty Skull,2.0,3.70,7.40
7,7.0,"Thorn, Satchel of Dark Souls",7.0,1.33,9.31
8,8.0,"Purgatory, Gem of Regret",3.0,3.93,11.79
9,9.0,"Thorn, Conqueror of the Corrupted",4.0,2.73,10.92
10,10.0,Sleepwalker,4.0,1.79,7.16
11,11.0,Brimstone,5.0,3.65,18.25
12,12.0,Dawne,6.0,1.02,6.12
13,13.0,Serenity,4.0,1.41,5.64
14,14.0,Possessed Core,2.0,2.61,5.22
15,15.0,Soul Infused Crystal,5.0,2.96,14.80
16,16.0,Restored Bauble,4.0,3.55,14.20
17,17.0,"Lazarus, Terror of the Earth",4.0,1.70,6.80
18,18.0,"Torchlight, Bond of Storms",2.0,4.65,9.30
19,19.0,"Pursuit, Cudgel of Necromancy",8.0,1.02,8.16
20,20.0,Netherbane,5.0,3.27,16.35
21,21.0,Souleater,5.0,1.10,5.50
22,22.0,Amnesia,6.0,2.18,13.08
23,23.0,Crucifer,1.0,1.99,1.99
24,24.0,Warped Fetish,5.0,3.81,19.05
25,25.0,Hero Cane,6.0,4.35,26.10
26,26.0,Unholy Wand,2.0,1.12,2.24
27,27.0,"Riddle, Tribute of Ended Dreams",1.0,3.30,3.30
28,28.0,"Flux, Destroyer of Due Diligence",2.0,1.06,2.12
29,29.0,"Chaos, Ender of the End",5.0,1.98,9.90
...,...,...,...,...,...
154,155.0,War-Forged Gold Deflector,4.0,1.01,4.04
155,156.0,Soul-Forged Steel Shortsword,5.0,1.77,8.85
156,157.0,"Spada, Etcher of Hatred",5.0,4.80,24.00
157,158.0,"Darkheart, Butcher of the Champion",4.0,2.45,9.80
158,159.0,"Oathbreaker, Spellblade of Trials",2.0,3.08,6.16
159,160.0,Azurewrath,7.0,4.40,30.80
160,161.0,Devine,6.0,1.76,10.56
161,162.0,Abyssal Shard,5.0,2.67,13.35
162,163.0,Thunderfury Scimitar,5.0,3.45,17.25
163,164.0,Exiled Doomblade,5.0,1.63,8.15
164,165.0,Bone Crushing Silver Skewer,7.0,4.86,34.02
165,166.0,Thirsty Iron Reaver,4.0,3.07,12.28
166,167.0,"Malice, Legacy of the Queen",3.0,3.61,10.83
167,168.0,"Sun Strike, Jaws of Twisted Visions",4.0,1.48,5.92
168,169.0,"Interrogator, Blood Blade of the Queen",2.0,2.18,4.36
169,170.0,Shadowsteel,4.0,3.97,15.88
170,171.0,Scalpel,4.0,1.79,7.16
171,172.0,Blade of the Grave,3.0,3.14,9.42
172,173.0,Stormfury Longsword,4.0,4.93,19.72
173,174.0,Primitive Blade,2.0,3.47,6.94
174,175.0,Woeful Adamantite Claymore,4.0,4.48,17.92
175,176.0,Relentless Iron Skewer,3.0,2.84,8.52
176,177.0,"Winterthorn, Defender of Shifting Worlds",2.0,2.08,4.16
177,178.0,"Oathbreaker, Last Hope of the Breaking Storm",2.0,4.23,8.46
178,179.0,"Wolf, Promise of the Moonwalker",12.0,4.48,53.76
179,180.0,Stormcaller,6.0,3.36,20.16
180,181.0,Reaper's Toll,1.0,1.66,1.66
181,182.0,Toothpick,5.0,4.03,20.15
182,183.0,Dragon's Greatsword,3.0,1.09,3.27
183,NaN,NaN,3.0,NaN,NaN